@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .brand {
    @apply md:text-xl text-lg py-2 px-1 text-white font-bold hover:bg-black/20 rounded-lg cursor-pointer;
  }
  .navlies {
    @apply px-4 py-1 rounded-md cursor-pointer;
  }
  .navCartAndHeartIcon {
    @apply bg-white shadow-md rounded-full text-black h-8 aspect-square flex justify-center items-center cursor-pointer hover:shadow-lg hover:scale-110 transition-all duration-150 relative;
  }
  .notification {
    @apply absolute -right-2 text-xs -top-2 p-1 rounded-full font-bold text-white h-5 flex justify-center items-center aspect-square;
  }
  .mobileBar {
    @apply absolute text-sm flex flex-col items-center rounded-md space-y-2 top-7 left-4 p-2 shadow-md bg-white z-20;
  }
  .categoryBtn {
    @apply px-5  py-2 rounded-3xl  text-gray-600 w-full md:text-left hover:bg-primary hover:text-white bg-gray-400/20 transition-all duration-100 flex md:text-base text-sm items-center text-center;
  }
  .footerCategories {
    @apply text-xl text-gray-800 font-bold;
  }
  .customBtn {
    @apply md:py-2.5 py-1.5 md:px-14 px-3 rounded-full  font-semibold md:text-[16px] text-sm;
  }
  .dashboardCartBtn {
    @apply customBtn bg-white/95 text-black border duration-100 transition-all border-white;
  }
  .dashboardWishBtn {
    @apply customBtn border border-white  transition-all duration-100;
  }
  .inputF {
    @apply outline-none bg-gray-100/80 px-3 py-2 rounded-md;
  }
}

body {
  font-family: "Lato", serif;
  background-color: #f3f4f6;
}
html {
  overflow-y: scroll;
}
